[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://source.puri.sm/Librem5/wlroots.git
	branch = master
[submodule "subprojects/gmobile"]
	path = subprojects/gmobile
	url = https://gitlab.gnome.org/guidog/gmobile.git
