Source: phoc
Priority: optional
Maintainer: Guido Günther <agx@sigxcpu.org>
Uploaders: Sebastian Krzyszkowiak <sebastian.krzyszkowiak@puri.sm>
Build-Depends:
 debhelper (>= 12),
 libglib2.0-dev,
 libgnome-desktop-3-dev,
 libinput-dev,
 libpixman-1-dev,
 libwayland-dev,
 libxkbcommon-dev,
 meson (>= 0.47.0),
 pkg-config,
 wayland-protocols,
 libxcb1-dev,
 libwlroots-dev (>= 0.10.0) <!pkg.phoc.embedwlroots>,
# For wlroots subproject build
 libcap-dev <pkg.phoc.embedwlroots>,
 libdrm-dev <pkg.phoc.embedwlroots>,
 libegl1-mesa-dev <pkg.phoc.embedwlroots>,
 libgbm-dev <pkg.phoc.embedwlroots>,
 libgles2-mesa-dev <pkg.phoc.embedwlroots>,
 libinput-dev <pkg.phoc.embedwlroots>,
 libpixman-1-dev <pkg.phoc.embedwlroots>,
 libpng-dev <pkg.phoc.embedwlroots>,
 libsystemd-dev <pkg.phoc.embedwlroots>,
 libwayland-dev <pkg.phoc.embedwlroots>,
 libxcb-composite0-dev <pkg.phoc.embedwlroots>,
 libxcb-icccm4-dev <pkg.phoc.embedwlroots>,
 libxcb-image0-dev <pkg.phoc.embedwlroots>,
 libxcb-render0-dev <pkg.phoc.embedwlroots>,
 libxcb-xfixes0-dev <pkg.phoc.embedwlroots>,
 libxcb-xinput-dev <pkg.phoc.embedwlroots>,
 libxkbcommon-dev <pkg.phoc.embedwlroots>,
 wayland-protocols <pkg.phoc.embedwlroots>,
# to run the tests
 gsettings-desktop-schemas <!nocheck>,
 mutter-common <!nocheck>,
 xvfb <!nocheck>,
 xauth <!nocheck>,
Standards-Version: 4.1.3
Section: libs
Homepage: https://source.puri.sm/librem5/phoc
Rules-Requires-Root: no

Package: phoc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 gsettings-desktop-schemas,
 mutter-common,
Recommends: phosh
Breaks:
 phosh (<< 0.4.5),
Description: Wayland compositor for mobile phones
 Tiny wayland compositor based on wlroots for use on mobile phones like the
 Librem 5.
 . 
 You likely want to use Phosh (the phone shell) with it.
